body {
    background-color: rgba(0, 0, 0, 0.1);
}

/*********************
    HEADER
*********************/
header {
    text-align: center;
    border-radius: 0 0 25px 25px;
    padding: 0 7px;
    background-color: rgba(30, 10, 116, 0.884);
    color: white;
}

/*********************
    MAIN
*********************/
main {
    display: flex;
    margin: auto; /* Centra el main horizontalmente dentro del body */
}

.login {
    width: 400px;
    max-width: 450px;
    padding: 13px;
    margin: 45px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.726);
    flex-direction: column;
}

.loginIcon {
    width: 40%;
    margin: 10px auto; /* Centra el icono */
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.btn {
    align-self: flex-end; /* Mueve el botón a la derecha */
    width: 35%;
    margin: 10px 0 0; /* Espacio entre el botón y el último input */
}

/*********************
    FOOTER
*********************/
footer {
    text-align: center;
    margin-top: 10px;
    border-radius: 20px 20px 0 0;
    padding: 40px;
    background-color: #2e3d4d;
    border-top: 3px solid #44517a; /* Línea de separación */
    color: #ffffff;
    font-size: 17px;
}

footer p {
    margin: 0;
}

footer span {
    font-weight: bold; /* Hacer el año en negrita */
}

/*********************
    NAVBAR
*********************/
.custom-navbar {
    background-color: transparent !important;   /* Eliminar fondo */
    padding: 10px;
    margin: 0 10px;
    border-radius: 0 0 25px 25px; 
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: white !important; /* Color del texto en el navbar */
}

.custom-navbar .nav-link:hover {
    color: rgba(255, 255, 255, 0.8) !important;
}

/*********************
    INVENTARIO TABLE
*********************/
.table_component {
    border: 2px solid #0b0b4e;
    border-radius: 20px 10px 10px 20px;
    overflow-y: auto;                   /* Permitir desplazamiento vertical */
    max-height: 578px;                  /* Establecer una altura máxima para el contenedor */
    margin: 5px;
    width: 100%;
}

/* Estilos para el scrollbar */
.table_component::-webkit-scrollbar {
    width: 10px;                
}

.table_component::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);     /* Color del fondo del track */
    border-radius: 10px;        
}

.table_component::-webkit-scrollbar-thumb {
    background: #888;                   /* Color del scrollbar */
    border-radius: 50px;        
}

.table_component::-webkit-scrollbar-thumb:hover {
    background: #555;         
}

.table_component table {
    border-radius: 20px;
    height: auto;               
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 1px;

    text-align: center;        /* Centra horizontalmente */
    vertical-align: middle;    /* Centra verticalmente */
}

.table_component thead th:last-child {
    border-top-right-radius: 10px; /* Esquina superior derecha redondeada */
}

.table_component caption {
    caption-side: top;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    color: #333;
    font-weight: bold;
}

.table_component th, .table_component td {
    border: 1px solid #dededf;
    padding: 10px 15px;
}

.table_component th:nth-child(2), .table_component td:nth-child(2),
.table_component th:nth-child(3), .table_component td:nth-child(3) {
    white-space: nowrap;   /* Evita que el contenido de la segunda columna se divida en varias líneas */
}

.table_component th {
    background-color: #00509e;  
    color: #ffffff;              
    font-weight: 600;
}

.table_component td {
    background-color: #f8f9fa;              /* Color de fondo más claro para filas */
    color: #000;
}

.table_component tbody tr:nth-child(even) td {
    background-color: #e9ecef;              /* Alterna colores de filas */
}

.table_component tbody tr:hover td {
    background-color: #cfe2f3;              /* Color de fondo al pasar el ratón */
}



/*********************
    BTN EDIT
*********************/
.buttonEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 45px;
    height: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttonEdit:hover {
    background-color: #e6ac00; 
}

.buttonEdit:hover .svg-icon {
    animation: lr 1s linear infinite;
}

/**************
    MODAL
**************/
.modal-dialog {
    margin-top: 100px;
    max-width: 60%;         /* Aumenta el ancho del modal */
}

.btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal-header {
    display: flex;
    flex-direction: column;
}

.modal-header h5{
    margin: 10px 50px 15px 50px;
}

.form-row {
    display: flex;                      /* Crea una fila de formularios */
    justify-content: space-between;     /* Espacio entre columnas */
    margin-bottom: 1rem;                /* Espacio entre filas */
}

.form-floating {
    flex: 1;                     /* Cada formulario ocupa el mismo ancho */
    margin-right: 10px;          /* Espacio entre columnas, puedes ajustar este valor */
}
