<!-- component header.html -->
<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">TICS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="registro.html">REGISTRO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="inventario.html">INVENTARIO</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        TIPOS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="escritorio.html">ESCRITORIO</a></li>
                        <li><a class="dropdown-item" href="portatil.html">PORTATIL</a></li>
                        <li><a class="dropdown-item" href="telefono.html">TELEFONO</a></li>
                        <li><a class="dropdown-item" href="impresora.html">IMPRESORA</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-current="page" href="index.html"">SALIR</a>
                </li>
            </ul>

            <form id="search-form" class="d-flex" role="search">
                <input class="form-control me-2" id="search-input" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success" type="submit">SEARCH</button>
            </form>

        </div>
    </div>
</nav>