<!-- component modal.html -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edicion Equipo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="form-row">
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-cod-equipo" readonly>
                        <label for="modal-cod-equipo">Cod. Equipo</label>
                    </form>
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-nom-usua" readonly>
                        <label for="modal-nom-usua">TICS</label>
                    </form>
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-tip-equipo" readonly>
                        <label for="modal-tip-equipo">Tipo Equipo</label>
                    </form>
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-fec-reg" readonly>
                        <label for="modal-fec-reg">Fecha de Entrega</label>
                    </form>
                </div>

                <p>Informacion del Equipo:</p>
                <div class="form-row">
                    <form class="form-floating me-2">
                        <input type="email" class="form-control is-valid" id="modal-cod-almacen" readonly>
                        <label for="modal-cod-almacen">Cod. Almacen</label>
                    </form>
                    <div class="form-floating">
                        <select class="form-select" id="modal-piso-ubic"
                            aria-label="Floating label select example"></select>
                        <label for="floatingSelect">Piso Ubicado</label>
                    </div>
                    <form class="form-floating me-2">
                        <input type="email" class="form-control" id="modal-nom-custodio">
                        <label for="modal-nom-custodio">Custodio</label>
                    </form>
                </div>
                <div class="form-floating">
                    <select class="form-select" id="modal-serv-depar"
                        aria-label="Floating label select example"></select>
                    <label for="floatingSelect">Departamento / Servicio</label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar monitor -->
<div class="modal fade" id="editMonitorModal" tabindex="-1" aria-labelledby="editMonitorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editMonitorModalLabel">Edición Monitor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="monitorForm">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="modal-cod-Eqmonitor" readonly>
                        <label for="modal-cod-Eqmonitor">Cod. Equipo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="modal-cod-monitor" readonly>
                        <label for="modal-cod-monitor">Cod. Monitor</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="modal-cod-tics-monitor" readonly>
                        <label for="modal-cod-tics-monitor">Cod. Tics Monitor</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="modal-mar-monitor">
                        <label for="modal-mar-monitor">Marca Monitor</label>
                    </div>
                    <form class="form-floating">
                        <input type="text" class="form-control" id="modal-mod-monitor">
                        <label for="modal-mod-monitor">Modelo Monitor</label>
                    </form>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="modal-ser-monitor">
                        <label for="modal-ser-monitor">Serie Monitor</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="modal-tam-monitor">
                        <label for="modal-tam-monitor">Tamaño Monitor</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="modal-con-monitor">
                        <label for="modal-con-monitor">Conectividad Monitor</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="modal-est-monitor">
                        <label for="modal-est-monitor">Estado Monitor</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="modal-observacion">
                        <label for="modal-observacion">Observación</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="modal-usua">
                        <label for="modal-usua">Personal Tics</label>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveMonitorChanges()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar mouse -->
<div class="modal fade" id="editMouseModal" tabindex="-1" aria-labelledby="mouseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="mouseModalLabel">Edición Mouse</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-cod-mouse" readonly>
                        <label for="modal-cod-mouse">Cod. Mouse</label>
                    </form>
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-cod-equipo-mouse" readonly>
                        <label for="modal-cod-equipo-mouse">Cod. Equipo</label>
                    </form>
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-cod-tics-mouse">
                        <label for="modal-cod-tics-mouse">TICS</label>
                    </form>
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-mar-mouse">
                        <label for="modal-mar-mouse">Marca</label>
                    </form>
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-mod-mouse">
                        <label for="modal-mod-mouse">Modelo</label>
                    </form>
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-ser-mouse">
                        <label for="modal-ser-mouse">Serie</label>
                    </form>
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-tip-mouse">
                        <label for="modal-tip-mouse">Tipo</label>
                    </form>
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-pue-mouse">
                        <label for="modal-pue-mouse">Puerto</label>
                    </form>
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-con-mouse">
                        <label for="modal-con-mouse">Condicino</label>
                    </form>
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-est-mouse">
                        <label for="modal-est-mouse">Estado</label>
                    </form>
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-obs-mouse">
                        <label for="modal-obs-mouse">Observacion</label>
                    </form>
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-usua-mouse">
                        <label for="modal-usua-mouse">Personal Tics</label>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveMouseChanges()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para mostrar los datos de Teclado -->
<div class="modal fade" id="editTecladoModal" tabindex="-1" aria-labelledby="viewTecladoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewTecladoModalLabel">Detalles del Teclado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="viewTecladoForm">
                    <div class="mb-3">
                        <label for="modal-cod-teclado" class="form-label">Código Teclado</label>
                        <input type="text" class="form-control" id="modal-cod-teclado" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="modal-cod-equipo-teclado" class="form-label">Código Equipo</label>
                        <input type="text" class="form-control" id="modal-cod-equipo-teclado" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="modal-cod-tics-teclado" class="form-label">Código TICS Teclado</label>
                        <input type="text" class="form-control" id="modal-cod-tics-teclado" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="modal-mar-teclado" class="form-label">Marca Teclado</label>
                        <input type="text" class="form-control" id="modal-mar-teclado" >
                    </div>
                    <div class="mb-3">
                        <label for="modal-mod-teclado" class="form-label">Modelo Teclado</label>
                        <input type="text" class="form-control" id="modal-mod-teclado" >
                    </div>
                    <div class="mb-3">
                        <label for="modal-ser-teclado" class="form-label">Serie Teclado</label>
                        <input type="text" class="form-control" id="modal-ser-teclado" >
                    </div>
                    <div class="mb-3">
                        <label for="modal-tip-teclado" class="form-label">Tipo Teclado</label>
                        <input type="text" class="form-control" id="modal-tip-teclado" >
                    </div>
                    <div class="mb-3">
                        <label for="modal-pue-teclado" class="form-label">Puerto Teclado</label>
                        <input type="text" class="form-control" id="modal-pue-teclado" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="modal-con-teclado" class="form-label">Condición Teclado</label>
                        <input type="text" class="form-control" id="modal-con-teclado" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="modal-est-teclado" class="form-label">Estado Teclado</label>
                        <input type="text" class="form-control" id="modal-est-teclado" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="modal-obs-teclado" class="form-label">Observación</label>
                        <textarea class="form-control" id="modal-obs-teclado" rows="3" disabled></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="modal-usua-teclado" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="modal-usua-teclado" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveTecladoChanges()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>