<!-- component modal.html -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edicion Equipo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="form-row">
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-cod-equipo" readonly>
                        <label for="modal-cod-equipo">Cod. Equipo</label>
                    </form>
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-nom-usua" readonly>
                        <label for="modal-nom-usua">TICS</label>
                    </form>
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-tip-equipo" readonly>
                        <label for="modal-tip-equipo">Tipo Equipo</label>
                    </form>
                    <form class="form-floating">
                        <input type="text" class="form-control is-valid" id="modal-fec-reg" readonly>
                        <label for="modal-fec-reg">Fecha de Entrega</label>
                    </form>
                </div>

                <p>Informacion del Equipo:</p>
                <div class="form-row">
                    <form class="form-floating me-2">
                        <input type="email" class="form-control is-valid" id="modal-cod-almacen" readonly>
                        <label for="modal-cod-almacen">Cod. Almacen</label>
                    </form>
                    <div class="form-floating">
                        <select class="form-select" id="modal-piso-ubic"
                            aria-label="Floating label select example"></select>
                        <label for="floatingSelect">Piso Ubicado</label>
                    </div>
                    <form class="form-floating me-2">
                        <input type="email" class="form-control" id="modal-nom-custodio">
                        <label for="modal-nom-custodio">Custodio</label>
                    </form>
                </div>
                <div class="form-floating">
                    <select class="form-select" id="modal-serv-depar"
                        aria-label="Floating label select example"></select>
                    <label for="floatingSelect">Departamento / Servicio</label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar monitor -->
<div class="modal fade" id="editMonitorModal" tabindex="-1" aria-labelledby="editMonitorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editMonitorModalLabel">Edición Monitor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="monitorForm">
                    <div class="form-row">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control is-valid" id="modal-cod-Eqmonitor" readonly
                                placeholder="Cod. Equipo">
                            <label for="modal-cod-Eqmonitor">Cod. Equipo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control is-valid" id="modal-cod-monitor" readonly
                                placeholder="Cod. Monitor">
                            <label for="modal-cod-monitor">Cod. Monitor</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control is-valid" id="modal-cod-tics-monitor" readonly
                                placeholder="Cod. Tics Monitor">
                            <label for="modal-cod-tics-monitor">Cod. Tics Monitor</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control is-valid" id="modal-usua" readonly
                                placeholder="Personal Tics">
                            <label for="modal-usua">Personal Tics</label>
                        </div>
                    </div>

                    <p>Informacion del Monitor:</p>
                    <div class="form-row">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-ser-monitor" placeholder="Serie Monitor">
                            <label for="modal-ser-monitor">Serie Monitor</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-mod-monitor" placeholder="Modelo Monitor">
                            <label for="modal-mod-monitor">Modelo Monitor</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-mar-monitor" placeholder="Marca Monitor">
                            <label for="modal-mar-monitor">Marca Monitor</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-tam-monitor" placeholder="Tamaño Monitor">
                            <label for="modal-tam-monitor">Tamaño Monitor</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-con-monitor"
                                placeholder="Conectividad Monitor">
                            <label for="modal-con-monitor">Condición Monitor</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-est-monitor" placeholder="Estado Monitor">
                            <label for="modal-est-monitor">Estado Monitor</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="modal-observacion" rows="3"
                            placeholder="Observación"></textarea>
                        <label for="modal-observacion">Observación Monitor</label>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveMonitorChanges()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar mouse -->
<div class="modal fade" id="editMouseModal" tabindex="-1" aria-labelledby="mouseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="mouseModalLabel">Edición Mouse</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="mouseForm">
                    <div class="form-row">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control is-valid" id="modal-cod-mouse" readonly
                                placeholder="Cod. Mouse">
                            <label for="modal-cod-mouse">Cod. Mouse</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control is-valid" id="modal-cod-equipo-mouse" readonly
                                placeholder="Cod. Equipo">
                            <label for="modal-cod-equipo-mouse">Cod. Equipo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control is-valid" id="modal-cod-tics-mouse" readonly
                                placeholder="Cod. Tics Mouse">
                            <label for="modal-cod-tics-mouse">Cod. Tics Mouse</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control is-valid" id="modal-usua-mouse"
                                placeholder="Personal Tics">
                            <label for="modal-usua-mouse">Personal Tics</label>
                        </div>
                    </div>

                    <p>Informacion del Mouse:</p>
                    <div class="form-row">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-ser-mouse" placeholder="Serie">
                            <label for="modal-ser-mouse">Serie Mouse</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-mod-mouse" placeholder="Modelo">
                            <label for="modal-mod-mouse">Modelo Mouse</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-mar-mouse" placeholder="Marca">
                            <label for="modal-mar-mouse">Marca Mouse</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-tip-mouse" placeholder="Tipo">
                            <label for="modal-tip-mouse">Tipo Mouse</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-pue-mouse" placeholder="Puerto">
                            <label for="modal-pue-mouse">Puerto Mouse</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-con-mouse" placeholder="Condición">
                            <label for="modal-con-mouse">Condición Mouse</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-est-mouse" placeholder="Estado">
                            <label for="modal-est-mouse">Estado Mouse</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="modal-obs-mouse" rows="3"
                            placeholder="Observación"></textarea>
                        <label for="modal-obs-mouse">Observación Mouse</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveMouseChanges()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar Teclado -->
<div class="modal fade" id="editTecladoModal" tabindex="-1" aria-labelledby="viewTecladoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewTecladoModalLabel">Detalles del Teclado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="viewTecladoForm">
                    <div class="form-row">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-cod-teclado" disabled
                                placeholder="Código Teclado">
                            <label for="modal-cod-teclado">Código Teclado</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-cod-equipo-teclado" disabled
                                placeholder="Código Equipo">
                            <label for="modal-cod-equipo-teclado">Código Equipo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-cod-tics-teclado" disabled
                                placeholder="Código TICS Teclado">
                            <label for="modal-cod-tics-teclado">Código TICS Teclado</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-usua-teclado" disabled
                                placeholder="Personal Tics">
                            <label for="modal-usua-teclado">Personal Tics</label>
                        </div>
                    </div>

                    <p>Informacion del Teclado:</p>
                    <div class="form-row">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-ser-teclado" placeholder="Serie Teclado">
                            <label for="modal-ser-teclado">Serie Teclado</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-mod-teclado" placeholder="Modelo Teclado">
                            <label for="modal-mod-teclado">Modelo Teclado</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-mar-teclado" placeholder="Marca Teclado">
                            <label for="modal-mar-teclado">Marca Teclado</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-tip-teclado" placeholder="Tipo Teclado">
                            <label for="modal-tip-teclado">Tipo Teclado</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-pue-teclado" placeholder="Puerto Teclado">
                            <label for="modal-pue-teclado">Puerto Teclado</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-con-teclado"
                                placeholder="Condición Teclado">
                            <label for="modal-con-teclado">Condición Teclado</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-est-teclado" placeholder="Estado Teclado">
                            <label for="modal-est-teclado">Estado Teclado</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="modal-obs-teclado" rows="3"
                            placeholder="Observación"></textarea>
                        <label for="modal-obs-teclado">Observación Teclado</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveTecladoChanges()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar CPU -->
<div class="modal fade" id="editCpuModal" tabindex="-1" aria-labelledby="viewCpuModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewCpuModalLabel">Edición CPU</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="viewCpuForm">
                    <div class="form-row">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-cod-cpu" readonly
                                placeholder="Código CPU">
                            <label for="modal-cod-cpu">Código CPU</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-cod-equipo-cpu" readonly
                                placeholder="Código Equipo">
                            <label for="modal-cod-equipo-cpu">Código Equipo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-cod-tics-cpu" readonly
                                placeholder="Código TICS CPU">
                            <label for="modal-cod-tics-cpu">Código TICS CPU</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-host-cpu" placeholder="Nombre Host">
                            <label for="modal-host-cpu">Nombre Host</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-usuario-cpu" placeholder="Usuario CPU">
                            <label for="modal-usuario-cpu">Usuario CPU</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-nom-tics-cpu" readonly
                                placeholder="Personal Tics">
                            <label for="modal-nom-tics-cpu">Personal Tics</label>
                        </div>
                    </div>

                    <p>Información del CPU:</p>
                    <div class="form-row">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-ser-cpu" placeholder="Serie CPU">
                            <label for="modal-ser-cpu">Serie CPU</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-generacion-cpu"
                                placeholder="Generacion IP">
                            <label for="modal-generacion-cpu">Generacion IP</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-marca-cpu" placeholder="Marca CPU">
                            <label for="modal-marca-cpu">Marca CPU</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-tarjeta-cpu" placeholder="Tarjeta Madre">
                            <label for="modal-tarjeta-cpu">Tarjeta Madre</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-proce-cpu" placeholder="Procesador">
                            <label for="modal-procesador">Procesador</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-almacenamiento-cpu"
                                placeholder="Tamaño HDD">
                            <label for="modal-almacenamiento-cpu">Tamaño HDD</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-ram-cpu" placeholder="Memoria RAM">
                            <label for="modal-ram-cpu">Memoria RAM</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-alimentacion-cpu"
                                placeholder="alimentacion CPU">
                            <label for="modal-alimentacion-cpu">Alimnetacion CPU</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-disp-optico-cpu"
                                placeholder="Dispositivo Óptico">
                            <label for="modal-disp-optico-cpu">Dispositivo Óptico</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-sistema-operativo-cpu"
                                placeholder="Sistema Operativo">
                            <label for="modal-sistema-operativo-cpu">Sistema Operativo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-office-cpu" placeholder="OFFICE">
                            <label for="modal-office-cpu">Office</label>
                        </div>
                    </div>

                    <p>Seguridad y Estado:</p>
                    <div class="form-row">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-antivirus-cpu" placeholder="Antivirus">
                            <label for="modal-antivirus-cpu">Antivirus</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-nombre-antivirus-cpu"
                                placeholder="Nombre Antivirus">
                            <label for="modal-nombre-antivirus-cpu">Nombre Antivirus</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-version-antivirus-cpu"
                                placeholder="Version Antivirus">
                            <label for="modal-version-antivirus-cpu">Version Antivirus</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-condicion-cpu"
                                placeholder="Condicion CPU">
                            <label for="modal-condicion-cpu">Condicion CPU</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modal-estado-cpu" placeholder="estado CPU">
                            <label for="modal-Estado-cpu">Estado CPU</label>
                        </div>
                    </div>

                    <p>Adicionales:</p>
                    <div class="form-row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="modal-red-fija-cpu">
                            <label class="form-check-label" for="modal-red-fija-cpu">Red Fija</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="modal-red-cpu">
                            <label class="form-check-label" for="modal-red-cpu">Red Inalámbrica</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="modal-bluetooth-cpu">
                            <label class="form-check-label" for="modal-bluetooth-cpu">Bluetooth</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="modal-lector-tarjeta-cpu">
                            <label class="form-check-label" for="modal-lector-tarjeta-cpu">Lector de Tarjetas</label>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="modal-observacion-cpu" rows="3"
                            placeholder="Observaciones"></textarea>
                        <label for="modal-observacion-cpu">Observación CPU</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveCpuChanges()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>